.Monstserrat{
    font-family: 'Montserrat', sans-serif !important;
}

@keyframes moveTopLeft {
  from {
      transform: translate(0, 0);
  }
  to {
      transform: translate(0px, -8px); /* Adjust the pixel values as needed */
  }
}

.shiftAnim {
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.shiftAnim:hover {
  animation: moveTopLeft 0.3s ease-in-out forwards;
}

@keyframes liftShadow {
  from {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  to {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1.0);
  }
}

.liftAnim {
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.liftAnim:hover {
  animation: moveTopLeft 0.3s ease-in-out forwards;
}