/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.tooltip {
  font-size: 18px !important;
}

.Monstserrat{
  font-family: 'Montserrat', sans-serif !important;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.codeFont {
  font-family: 'Source Code Pro', monospace;
}
